node_modules/
logs
*.log
dist/
build/
.env
.env.*
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cache/
.temp/
.tmp/
.pnpm-store/
.eslintcache
coverage/
*.test.js
*.test.ts
